html {
  /* color: white; */
  /* background-color: #21222c; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: #b0b0b0; */
  overflow-x: hidden;
}

body {
  margin: 8px;
}

header {
  margin: 0 auto;
  padding: 2em 0;
}

header #logo {
  width: 100%;
  max-width: 60%;
}

header #subtitle {
  color: black;
}

section {
  padding: 2em 0;
}

section h2 {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: #282c34;
  /* color: #dbdbdb; */
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

p {
  font-size: 20px;
  line-height: 1.4em;
}

#root {
  max-width: 800px;
  margin: 0 auto;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.benefit h2 {
  font-size: 26px;
  text-align: left;
}

.benefit {
  margin: 16px;
  width: 280px;
}

/* .has-background-dark {
  background-color: #272a36;
}
.has-background-dark p {
  color: white;
}
.has-background-dark h1,
.has-background-dark h2,
.has-background-dark h3,
.has-background-dark h4 {
  color: #dfdfdf;
} */

.has-background-light {
  background-color: #dfdfdf;
}

.is-center {
  text-align: center;
}

.is-container {
  max-width: 800px;
  margin: 8px auto;
}

.is-full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.is-code {
  background: #c1c1c1;
  font-size: 14px;
  padding: 4px;
  border-radius: 2px;
}

/* mobile-only */
@media only screen and (max-width: 420px) {
  header h2 {
    font-size: 20px;
  }
}
