html {
  /* color: white; */
  /* background-color: #21222c; */
  font-family: Arial, Helvetica, sans-serif;
  /* color: #b0b0b0; */
  overflow-x: hidden;
}

body {
  display: block;
  margin: 0px 8px;
}

header {
  margin: 0 auto;
}

header #logo {
  max-width: 60%;
  height: auto;
}

header #subtitle {
  color: black;
  font-size: 36px;
}

header {
  padding: 3.6em 0 1.8em 0;
}

section,
footer {
  padding: 3.6em 0;
}

footer {
  background-color: rgba(238, 238, 238, 1);
}

/* section h2,
section h3,
section h4 {
  text-align: center;
} */

h1,
h2,
h3,
h4 {
  color: #282c34;
  /* color: #dbdbdb; */
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

p,
a,
li {
  font-size: 20px;
  line-height: 1.4em;
}

a {
  text-decoration: none;
  color: #ff4e6a;
}

ul,
ol {
  padding: unset;
}

li {
  list-style: none;
}

.dot-list {
  margin-left: 24px;
}

.dot-list li {
  list-style: disc;
}

#root {
  max-width: 800px;
  margin: 0 auto;
}

#home-navigation a:hover,
#other-navigation a:hover,
#other-navigation a.active {
  text-decoration: underline;
}

#home-navigation ul li {
  display: inline-block;
  margin: 0px 6px;
}

@media only screen and (min-width: 600px) {
  #other-navigation {
    max-width: 80%;
    margin: 0 auto;
  }
  #other-navigation ul li {
    display: inline-block;
    margin: 0px 6px;
  }
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.benefit h2 {
  font-size: 26px;
  text-align: left;
  line-height: 1;
}

.benefit {
  margin: 16px;
  width: 280px;
  line-height: 1;
}

/* .has-background-dark {
  background-color: #272a36;
}
.has-background-dark p {
  color: white;
}
.has-background-dark h1,
.has-background-dark h2,
.has-background-dark h3,
.has-background-dark h4 {
  color: #dfdfdf;
} */

.has-no-border-radius-top-left {
  border-top-left-radius: 0px !important;
}

.has-no-margin-top {
  margin-top: 0px !important;
}

.has-background-light {
  /* background-color: #f4f4f4; */
  background: rgb(244, 244, 244);
  background: linear-gradient(0deg, rgba(238, 238, 238, 1) 0%, rgba(248, 248, 248, 1) 100%);
}

.has-color-gray {
  color: gray;
}

.is-center,
.has-text-centered {
  text-align: center;
}

.is-container {
  max-width: 800px;
  margin: 0px auto;
}

.is-container-big {
  max-width: 1100px;
  margin: 0px auto;
}

.is-full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: 16px;
  padding-right: 16px;
}

.is-code {
  background: #f3f3f3;
  font-size: 18px;
  padding: 4px;
  border-radius: 2px;
}

.is-hidden {
  display: none;
}

/* mobile-only */
@media only screen and (max-width: 420px) {
  header h2 {
    font-size: 20px;
  }
}

.code-example {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  max-width: 100%;
}

.code-example.code-side-by-side {
  display: flex;
  align-items: stretch;
}

.code-example.code-side-by-side .code-highlight {
  width: calc(50% - 1px);
}

.code-example.code-side-by-side > :first-child {
  border-right: 2px rgb(177, 177, 177) solid;
}

.code-example.code-side-by-side > :first-child > :first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.code-example.code-side-by-side > :last-child > :first-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.code-example.code-side-by-side pre {
  height: 100%;
  box-sizing: border-box;
}

.code-example-tabs .code-result {
  margin-top: 56px;
}

.code-highlight {
  max-width: 100%;
}

pre[class*='language-'] {
  box-shadow: 4px 4px 20px 6px rgb(0 0 0 / 20%);
}

.code-result {
  border-radius: 4px;
  padding: 24px;
  margin-top: 8px;
  max-width: 100%;
  box-shadow: 4px 4px 20px 6px rgb(123 123 159 / 20%);
}

.code-result div {
  font-size: 22px;
}

.code-result button {
  cursor: pointer;
  border: none;
  background: #ff4e6a;
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 18px;
  margin-top: 16px;
  outline: none;
}
.code-result button:hover {
  background: #ff3d5a;
}

.code-fit-width {
  max-width: fit-content;
  margin: 0 auto !important;
}
